$themeColor:#f9bb18;
page {
    background: #ededed;
}

view {
    padding: 0 20rpx;
    background: #ffffff;
}

.logo {
    text-align: center;
    // margin-top: 90rpx;
    padding-top: 50rpx;
    image {
        width: 145rpx;
        height: 200rpx;
    }
}

.slogan {
    text-align: center;
    padding: 30rpx 0 60rpx;
    text {
        color: #666666;
        font-size: 26rpx;
    }
}

.search {
    text-align: center;
    padding-bottom: 60rpx;
    margin-bottom: 30rpx;
    height: 60rpx;
    navigator {
        border: 2rpx solid $themeColor;
        border-radius: 30rpx;
        font-size: 28rpx;
        color: $themeColor;
        padding: 15rpx 180rpx;
    }
}

.title {
    margin-bottom: 10rpx;
    padding: 10rpx 0;
    text {
        padding-left: 15rpx;
        margin-left: 20rpx;
        border-left: 4rpx solid $themeColor;
    }
}

.img-list {
    padding: 20rpx;
}

.img {
    margin-bottom: 15rpx;
    text-align: center;
    position: relative;
    padding: 0;
    border: 2rpx solid #ddd;
    .price {
        position: absolute;
        top: 0;
        left: 0;
        width: 365rpx;
        font-size: 24rpx;
        background: $themeColor;
        color: #ffffff;
        padding: 10rpx 5rpx;
        text-align: left;
        text {
            display: inline-block;
            width: 50%;
        }
        .line {
            position: absolute;
            top: 50%;
            left: 5rpx;
            display: block;
            width: 50%;
            border-bottom: 1px solid #ffffff;
        }
    }
    image {
        width: 100%;
        height: 240px;
    }
    .text {
        display: block;
        padding: 20rpx 10rpx;
        font-size: 30rpx;
        text-align: left;
        border-top: 1px solid #dddddd;
        position: relative;
        .color {
            width: 10px;
            height: 10px;
            margin-left: 10px;
            margin-right: 5px;
            display: inline-block;
            
        }
        text{
          color: #666666;
            font-size: 26rpx;  
        }
        .color1 {
            background: #9c3040;
        }
        .color2 {
            background: #4d71a5;
        }
        .details {
            position: absolute;
            right: 10rpx;
            top: 15rpx;
            padding: 5rpx;
            border: 2rpx solid $themeColor;
            border-radius: 4rpx;
            color: $themeColor;
        }
    }
    // text {
    //     position: absolute;
    //     bottom: 40rpx;
    //     left: 50rpx;
    //     color: #333333;
    //     font-size: 36rpx;
    // }
}
