$themeColor:#f9bb18;
page {
    padding-bottom: 90rpx;
    min-height: 100%;
    background: #ededed;

    // overflow: hidden;
}

.item {
    margin-bottom: 20rpx;
    padding: 20rpx;
    background:#ffffff;
    .title {
        padding-left: 15rpx;
        border-left: 4rpx solid $themeColor;
        color: #333333;
        font-size: 36rpx;
        line-height: 50rpx;
        margin-bottom: 10rpx;
    }
    .name{
        color: #333333;
        line-height: 60rpx;
        font-size: 30rpx;
    }
    .text {
        color: #666666;
        line-height: 45rpx;
        font-size: 26rpx;
    }
}
